@CHARSET "Windows-31J";

body{
      background-color:#fdfdfd;
      font-family:"メイリオ",meiryo,Arial,sans-serif;
      font-weight:200;
      margin:0;
      padding:0;

}

.header{
      margin:0;
      padding:0;
      background-color:#339999;
      height:80px;
      width:100%;
      box-shadow:.3px .3px .3px #aaa;
      }

h1{
	padding:0;
	margin:0;
}
.title{
   font-family:"メイリオ",meiryo,Arial,sans-serif;
   color:#ffffff;
   font-weight:100;
   font-size:33px;
   margin:0;
   padding-top:15px;
   padding-left:15%;
   text-align:left;
   background:none;
   box-shadow:none;
   border:none;
   outline:none;
   }

/*-----------------------------------コンテンツページのdiv----------------------------------------*/
.content{
      width:960px;
      margin-top:0;
      margin-left:auto;
      margin-right:auto;
      padding:0;
      background-color:#fdfdfd;
      }

/*-----------------------------------コンテンツページの見出し----------------------------------------*/
.page_title{
      padding: .25em 0 .25em .55em;
      border-left: 6px solid #669999;
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-top: 1px solid #ccc;

}

p{
	margin:2% 1% 2% 0;
	padding:0;
}
/*----------------------------ボタン-------------------------*/
.botan{
	margin:5%;
    font-family: "メイリオ", meiryo, Arial, sans-serif;
	font-size:90%;
	font-weight:400;
	color:#fff;
	width:100px;
	height:35px;
	background-color: #6ec2ac;
	border-style: none;
	border-radius: 5px;
	box-shadow:.5px .5px .5px #888;
	}



.botan:hover{
    font-family: "メイリオ", meiryo, Arial, sans-serif;
	font-size:85%;
	font-weight:400;
	color:#fff;
	width:100px;
	height:35px;
	background-color: #6ec2ac;
	border-style: none;
	border-radius: 5px;
	box-shadow:none;
}

/*-----------------------メニューへ戻るボタン------------------------------*/

.menu_return_botan{
    margin:3% .5%;
    font-family: "メイリオ", meiryo, Arial, sans-serif;
	font-size:90%;
	font-weight:400;
	color:#fff;
	width:200px;
	height:35px;
	background-color: #6ec2ac;
	border-style: none;
	border-radius: 5px;
	box-shadow:.5px .5px .5px #888;
	}

.menu_return_botan:hover{
    font-family: "メイリオ", meiryo, Arial, sans-serif;
	font-weight:400;
	color:#fff;
	background-color: #6ec2ac;
	border-style: none;
	border-radius: 5px;
	box-shadow:none;
}

/*-----------------------ログインフォーム------------------------------*/
.loginform{
     border-style: solid;
     border-color: #7f9688;
     border-width: 1px;
     background-color:#ecebeb;
     width:300px;

     /*ログインフォームをcontentの中心に配置*/
     text-align:center;
     margin-top:15%;
     margin-left:auto;
     margin-right:auto;
     text-align:left;
     }

.loginheader{
     background-color:#669999;
     margin:0 0 20 0;
     padding:0;
     width:100%;
     color:#ffffff;

 }

.logintitle{
   padding-top:5px;
   padding-left:15%;
   margin:0;
   font-weight:100;
   }


.dateform{
     width:200px;
     height:20px;
     padding:0 5%;
     margin-top:10%;
     margin-right:auto;
     margin-left:auto;
     border: 1px solid #ccc;
     box-shadow: 2px 2px 4px rgba(0, 0, 0, .1) inset;
     }

.login_table{
	padding:0 auto;
	margin:0 auto 3% auto;
	text-align:center;
}

#login_botan{
	margin-top:8%;
}
/*-----------------------メニュー------------------------------*/
.menu_title{
	  font-weight:100;
	  padding:0;
	  border-bottom: 1px solid #ccc;
	  margin-top:2%;
	  margin-bottom:2%;

}

.menu_title:first-letter{
	  color:#669999;

}

.menu_botan {
	font-family: "メイリオ", meiryo, Arial, sans-serif;
	font-size:125%;
	font-weight: 200;
	color:#fff;
	width:300px;
	height:45px;
	background-color: #6ec2ac;
	border-style: none;
	border-radius: 10px;
	margin-left:20px;
	box-shadow:.5px .5px .5px #888;
}

.menu_botan:hover {
	font-family: "メイリオ", meiryo, Arial, sans-serif;
	font-weight: 200;
	background-color: #28c198;
	border-style: none;
	box-shadow:none;
}


.botan_box td{
   padding-right:10%;
   margin-bottom:5%;
}

.logout_botan{
	font-family: "メイリオ", meiryo, Arial, sans-serif;
	font-size:125%;
	font-weight: 200;
	color:#fff;
	width:300px;
	height:45px;
	background-color:#8885a0;
	border-style: none;
	border-radius: 10px;
	margin-top:5%;
	margin-left:20px;
	box-shadow:.5px .5px .5px #888;
}

.logout_botan:hover {
	font-family: "メイリオ", meiryo, Arial, sans-serif;
	font-weight: 200;
	background-color: #5b539e;
	border-style: none;
	box-shadow:none;
}

/*------------------------従業員一覧&資格取得------------------------------*/
.employee_title{
      background-color:#669999;
      font-weight:100;
      font-size:15px;
      color:#ffffff;
      padding:0;
      margin:0;
}

.employee_table{
      /* width:960px;*/

}

.employee_table th,td{
	 table-layout:fixed;
}

thead.scrollHead,tbody.datebody{
  display:block;
}

.datebody{
	overflow-y:scroll;
	height:300px;
}

.radio{
width:28px;
padding:0;
margin:0;
}
.radiotd{
width:29px;
padding:0;
margin:0;
align:center;
}

.no{
  width:96px;
  word:break;
}
.notd{
  width:100px;
   word-break:break-all;
}
.name{
  width:138px;
  align:center;
   word-break:break-all;
}
.nametd{
  width:145px;
  align:center;
  word-break:break-all;
}
.name_kana{
width:161px;
 word-break:break-all;
}
.name_kanatd{
width:170px;
word-break:break-all;
}
.sex{
 width:44px;
 word-break:break-all;
}
.sextd{
 width:45px;
 word-break:break-all;
}
.birth{
 width:97px;
 word-break:break-all;
}
.birthtd{
 width:100px;
word-break:break-all;
}
.section{
 width:96px;
 word-break:break-all;
}
.sectiontd{
 width:100px;
 word-break:break-all;
}
.startday{
 width:98px;
 word-break:break-all;
}
.startdaytd{
 width:100px;
 word-break:break-all;
}
.license{
  width:145px;
 word-break:break-all;
}
.licensetd{
  width:150px;
word-break:break-all;
}


/*-----------------------資格一覧------------------------------*/
.license_title{
      background-color:#808080;
      font-weight:300;
      font-size:20px;
      color:#ffffff;
      padding:10px;
}



/*-----------------------成功・エラー画面------------------------------*/
.message{
      margin-top:15%;
      font-size:30px;
      font-weight:100;
}



/*-----------------------従業員登録フォーム------------------------------*/
.employee_add{
      width:900px;
      margin:0 auto;
}
.employee_add th{
      background-color:#669999;
      color:#ffffff;
      font-weight:300;
      font-size:20px;
      padding:0;
      word-break:break-all;
      width:170px;
}

.employee_add td{
      background-color:#eeeeee;
      font-weight:100;
      padding:10px;
      width:730px;
      word-break:break-all;
}

.form_title{
      background-color:#339999;
      width:78%;
      margin-left:.1%;
      margin-right:0;
      margin-bottom:0;
      padding:0 .7% 0 1%;
      font-weight:100;
      color:#fff;
}


/*.textbox{
      box-shadow: 1px 1px 3px rgba(30, 30, 30, .1) inset;

}*/

/*-----------------------従業員登録の保有資格フォーム------------------------------*/

.licensediv{
	  width:900px;
      margin:0 auto;
      height:300px;
      padding:0;
      position:relative;
}
.license_insert_th{
      background-color:#669999;
      color:#ffffff;
      font-weight:300;
      font-size:20px;
      line-height:300px;
      padding:0;
      margin:0 0 0 .5px;
      word-break:break-all;
      width:164.5px;
      height:300px;
      position:absolute;
      left:1.5px;
      top:0px;
}
.scroll{
	overflow-y:scroll;
	padding:0;
	height:300px;
	width:732px;
	display:block;
	position:absolute;
	left:166.5px;
	top:0px;
}
.check{
	  background-color:#eeeeee;
      width:20px;
}

.license_insert_name{
	  background-color:#eeeeee;
      width:503px;
      word-break:break-all;
}

.license_day{
	 background-color:#eeeeee;
      width:307px;
      text-align:center;
      padding:0;
      word-break:break-all;
}
}
/*-----------------------システム利用者登録フォーム------------------------------*/
.user_form_title{
      background-color:#339999;
      width:432px;
      margin:0 0 0 2px;
      padding:0 0 0 15px;
      font-weight:100;
      color:#fff;
}

.user_add{
	width:450px;
	margin-left:0;
}

.user_add th{
      background-color:#669999;
      color:#ffffff;
      font-weight:300;
      font-size:20px;
      padding:10px;
}

.user_add td{
      background-color:#eeeeee;
      font-weight:100;
      padding:0;
}

.user_add_date{
     width:200px;
     height:20px;
     padding:0 0 0 5px;
     }



/*-----------------------資格追加登録フォーム------------------------------*/
.license_add th{
      background-color:#669999;
      color:#ffffff;
      font-weight:300;
      font-size:20px;
      padding:10px;
}

.license_add td{
      background-color:#eeeeee;
      font-weight:100;
      padding:10px;
}


.license_name{
  width:300px;
 word-break:break-all;
}

.license_nametd{
  width:300px;
 word-break:break-all;
}

.radio_license{
	width:29px;
    padding:0;
    margin:0;
}
.botan_get{
	margin:3% .5%;
    font-family: "メイリオ", meiryo, Arial, sans-serif;
	font-size:90%;
	font-weight:400;
	color:#fff;
	width:100px;
	height:35px;
	background-color: #6ec2ac;
	border-style: none;
	border-radius: 5px;
	box-shadow:.5px .5px .5px #888;
	}


.botan_get:hover{
    font-family: "メイリオ", meiryo, Arial, sans-serif;
	font-weight:400;
	color:#fff;
	width:100px;
	height:35px;
	background-color: #6ec2ac;
	border-style: none;
	border-radius: 5px;
	box-shadow:none;
}

/*-----------------------エラーページ------------------------------*/
.error_message{
   font-family: "メイリオ", meiryo, Arial, sans-serif;
	font-weight:300;
	color:red;
}