@CHARSET "Windows-31J";

body{
      background-color:#fdfdfd;
      font-family:"メイリオ",meiryo,Arial,sans-serif;
      font-weight:200;
      margin:0;
      padding:0;

}

.header{
      margin:0;
      padding:0;
      background-color:#339999;
      height:80px;
      width:100%;
      box-shadow:.3px .3px .3px #aaa;
      }

h1{
   color:#ffffff;
   font-weight:100;
   margin:0;
   padding-top:15px;
   padding-left:10%;
   text-align:left;
   }


.content{
      width:70%;
      margin-top:0;
      margin-left:auto;
      margin-right:auto;
      padding:0;
      background-color:#fdfdfd;
      }

.page_title{
      padding: .25em 0 .25em .55em;
      border-left: 6px solid #669999;
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-top: 1px solid #ccc;

}


/*----------------------------ボタン-------------------------*/
.botan{
	margin:5%;
    font-family: "メイリオ", meiryo, Arial, sans-serif;
	font-size:80%;
	font-weight:400;
	color:#fff;
	width:100px;
	height:35px;
	background-color: #6ec2ac;
	border-style: none;
	border-radius: 5px;
	box-shadow:.5px .5px .5px #888;


	}


/*-----------------------ログインフォーム------------------------------*/
.loginform{
     border-style: solid;
     border-color: #7f9688;
     border-width: 1px;
     background-color:#ecebeb;
     width:300px;

     /*ログインフォームをcontentの中心に配置*/
     text-align:center;
     margin-top:15%;
     margin-left:auto;
     margin-right:auto;
     text-align:left;
     }

.loginheader{
     background-color:#669999;
     margin:0 0 20 0;
     padding:0;
     width:100%;
     color:#ffffff;

 }

.logintitle{
   padding-top:5px;
   padding-left:15%;
   margin:0;
   font-weight:100;
   }


.dateform{
     width:200px;
     height:20px;
     padding:0 5%;
     margin-top:10%;
     margin-right:auto;
     margin-left:auto;
     }

.login_table{
	padding:0 auto;
	margin:0 auto 3% auto;
	text-align:center;
}

/*-----------------------メニュー------------------------------*/
.menu_title{
	  font-weight:100;
	  padding:0;
	  border-bottom: 1px solid #ccc;
	  margin-top:2%;
	  margin-bottom:2%;

}

.menu_title:first-letter{
	  color:#669999;

}

.menu_botan {
	font-family: "メイリオ", meiryo, Arial, sans-serif;
	font-size:125%;
	font-weight: 200;
	color:#fff;
	width:300px;
	height:45px;
	background-color: #6ec2ac;
	border-style: none;
	border-radius: 10px;
	margin-left:20px;
	box-shadow:.5px .5px .5px #888;
}

.menu_botan:hover {
	font-family: "メイリオ", meiryo, Arial, sans-serif;
	font-weight: 200;
	background-color: #28c198;
	border-style: none;
	box-shadow:none;
}


.botan_box td{
   padding-right:10%;
   margin-bottom:5%;
}

#logout{
	margin-top:5%;
}

/*-----------------------従業員一覧------------------------------*/
.employee_title{
      background-color:#669999;
      font-weight:100;
      font-size:20px;
      color:#ffffff;
      padding:10px;
}



/*-----------------------資格一覧------------------------------*/
.license_title{
      background-color:#808080;
      font-weight:300;
      font-size:20px;
      color:#ffffff;
      padding:10px;
}



/*-----------------------成功・エラー画面------------------------------*/
.message{
      margin-top:15%;
      font-size:30px;
      font-weight:100;
}



/*-----------------------従業員登録フォーム------------------------------*/
.employee_add{
      width:80%;
}
.employee_add th{
      background-color:#669999;
      color:#ffffff;
      font-weight:300;
      font-size:20px;
      padding:10px;
}

.employee_add td{
      background-color:#eeeeee;
      font-weight:100;
      padding:10px;
}

.form_title{
      background-color:#339999;
      width:78%;
      margin-left:.1%;
      margin-right:0;
      margin-bottom:0;
      padding:0 .7% 0 1%;
      font-weight:100;
      color:#fff;
}

/*.textbox{
      box-shadow: 1px 1px 3px rgba(30, 30, 30, .1) inset;

}*/

/*-----------------------システム利用者登録フォーム------------------------------*/
.user_add th{
      background-color:#669999;
      color:#ffffff;
      font-weight:300;
      font-size:20px;
      padding:10px;
}

.user_add td{
      background-color:#eeeeee;
      font-weight:100;
      padding:10px;
}



/*-----------------------資格追加登録フォーム------------------------------*/
.license_add th{
      background-color:#669999;
      color:#ffffff;
      font-weight:300;
      font-size:20px;
      padding:10px;
}

.license_add td{
      background-color:#eeeeee;
      font-weight:100;
      padding:10px;
}
